@import url('https://fonts.googleapis.com/css?family=Lora:700%7COpen+Sans:300,400,600%7CSource+Sans+Pro:600');

font-family: 'Open Sans', sans-serif;

font-family: 'Lora', serif;


font-family: 'Source Sans Pro', sans-serif;

* {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0;
}
header {
	background: #9198a2 url(img/index.jpg);
	height: 100vh;
	color: white;
	display: flex;
    flex-direction: column;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.header-top {
display: flex;
justify-content: space-between;
	
	
}

.logo {
	width: 2em;
	display: inline-flex;
}

nav {
	display: inline-flex;
    margin-right: 48px;
    margin-top: 8px;
}



li {
	list-style: none;
	display: inline-block;
	font: 300 15px/2.6 "open sans";
    margin-left: 4.5em;
    margin-left: 55px;
    text-decoration: none;
    color: white;
	
}

a {
	text-decoration: none;
   
	
}

ul a {
	color: white;
}

.header-description {
	    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
}

.logo {
	width: 137px;
	height: 40px;
	margin-top: 24px;
    margin-left: 115px;
}

.header-description h1 {
	font: 600 55px/2.6 "open sans";
    margin-top: -1em;
	
}


.header-description h2 {
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 200;
	margin-top: -2em;
	
	margin-bottom: 3em;
}


button {
background-color: #00a5ff;
color: white;
font-weight: 400;
font-size: 25px;
width: 320px;
height: 70px;
border-radius: 40px;
border: transparent;
margin: auto;
}




.services {
	display: flex;
	text-align: center;
	flex-direction: column;
	width: 100%;
	
}

.service-type {
	width: 80%;
	flex-direction: row;
	
	margin: auto;
	margin-bottom: 97px;
	
}

.service {

	    width: 24%;
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}


.services h1, .portfolio h1, .brands h1, .others h1
{
	text-transform: uppercase;
	font: 600 40px/1.5 "lora";
}


.pic-logo {
	width: 40px;
	height: 60px;
}

.service h3 {
	font: 500 25px 'Source Sans Pro';
}

.service p {
	font: 100 15px 'Source Sans Pro';
}

.line {
width: 160px;
margin: auto;
border-radius: 4px;
margin-bottom: 97px;
}


.portfolio {
	display: flex;
	width: 100%;
	flex-direction: column;
	
}
}

.example {
	display: flex;
	width: 100%;
	
	flex-direction: row;
}
	
.example {
	width: 100%;
	flex-direction: row;
	margin-bottom: 60px;
}

.example-pic {
	    width: 30%;
  
    display: inline-flex;
    
    flex-direction: column;
    height: 330px;
       box-shadow: 0 0 10px rgba(0,0,0,0.5); 
       

}

.brand {
	display: flex;
	flex-direction: column;
	
}


.brand-pic {
	width: 100px;
	height: 100px;
}


.others {
	display: flex;
	flex-direction: column;
	
}

.faces {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 60px;
	
}

.faces img {
	width: 100px;
	height: 100px;
	margin: 0px 20px;
	opacity: 0.5;
}


.faces img:hover {
	opacity: 1;
	
}

footer {
	background-color:#3b404c;
	display: flex;
	
	color: white;
	
}


.contact {
	width: 200px;
	align-items: flex-start;
	display: inline-flex;
	flex-direction: column;
	width: 30%;
	margin-left: 80px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	
	
}

.contact h1  {
	font: 600 30px "Source Sans Pro";
	text-transform: uppercase;
	
	
}

.contact h2 {
	text-transform: uppercase;
}

.second-nav-form {
	display: inline-flex;
	width: 65%;
	justify-content: center;
	
	flex-direction: column;
	justify-content: space-between;
	
}

nav .second {
	width: 100%;
	
	height: 50px;
}

.second {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}


.first-row {
	width: 390px;
	display: inline-block;
	margin-left: 10px;
	font: 100 20px "Source Sans Pro";
	
	text-align: left;
}

.second-row {
	width: 100%;
	font: 100 20px "Source Sans Pro";
	width: 100%;
	text-align: left;
}

form {
	display: flex;
	
}

input {
	background-color: #3b404c;
	border: transparent;
	border-bottom: 2px solid gray;
	width: 370px;
	color: white;
	font: 100 20px "Source Sans Pro";
	
}


fieldset {
	border: transparent;
}

textarea {
	width: 770px;
	height: 100px;
	background-color: #3b404c;
	border: transparent;
	border-bottom: 2px solid gray;
	color: white;
	font: 100 20px "Source Sans Pro";
	 overflow: hidden;
	 resize: none;
	
}

input:focus {
	border-bottom: 2px solid #00a5ff;
	outline: none;
}


textarea:focus {
	border-bottom: 2px solid #00a5ff;
	outline: none;
}

.portfolio li:hover {
	color: #00a5ff;
	text-decoration: underline;
}

 blockquote  {

 	width: 50%;
 	margin: auto;
 	margin-bottom: 40px;
	
}

blockquote a {
	color: black;
	text-decoration: underline;
}

.button-form {
	margin-left: 0;
}

.brand-pic {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}

.brand-img {
	opacity: 0.5;
}
.brand-img:hover {
	opacity: 1;
}
